body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: #FF0000;
}

.header-wrapper, .footer-wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.header-img {
  height: auto;
  width: auto;
  max-height: 60px;
  padding: 10px 0;
}

footer {
  padding: 30px 0;
  background: #f4f4f4;
  border-top: 1px solid #e8e8e8;
  height: 150px;
}

.footer-heading {
  font-size: 18px;
  margin: 0 0 20px;
}

.footer-heading > a {
  color: #2a7ae2;
  text-decoration: none;
}

.footer-heading > a:visited {
  color: #1756a9;
}

.footer-heading > a:hover {
  color: #111;
  text-decoration: underline;
}

li > a {
  color: #2a7ae2;
  text-decoration: none;
}

li > a:visited {
  color: #1756a9;
}

li > a:hover {
  color: #111;
  text-decoration: underline;
}

.footer-col-wrapper {
  color: #828282;
  display: flex;
  justify-content: space-between;
}

.footer-col > p {
  font-size: 15px;
  letter-spacing: 0px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (15px / 2));
  width: calc(35% - (15px / 2));
}

.footer-col-3 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}


.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

.page-content {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p, .button, .footer-heading, .footer-col-wrapper {
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.footer-heading {
  letter-spacing: 0px;
}

.footer-col-wrapper {
  line-height: 1.5;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 20px;
  margin: 0 0 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 30%;
  height: 10%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #FF0000;
  border-radius: 20px;
  font-size: 25px;
}

.button:hover {
  background: #FF0000;
  color: white;
  cursor: pointer;
}

.modal-container {
  position: relative;
}

.modal-close {
  right: -20px;
  top: -15px;
  position: absolute;
  background: #FF0000;
  color: white;
  padding: 5px;
  width: 25px;
  font-size: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover {
  background: white;
  color: #FF0000;
  cursor: pointer;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content, .ReactModal__Content--after-open, .modal {
  width: 80%;
  height: 90%;
}

.ReactModal__Content:focus, .ReactModal__Content--after-open:focus, .modal:focus {
  outline: none;
}

.timer-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
}

.timer-over, .timer-under {
  font-size: 30px;
  margin: 0;
}

.timer-over {
  color: #FF0000;
}

.pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF0000;
  border-radius: 10px;
  font-size: 17px;
  margin: 0 10px;
  padding: 2px 7px;
}

.pause-button:hover {
  background: #FF0000;
  color: white;
  cursor: pointer;
}
